body {
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d4fbf8;
  }
  
  header {
    background-color: #f97917;
    color: #000000;
    padding: 10px;
    text-align: center;
    font-size:xx-large;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    margin-top: 30px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th,
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ffffff;
    border-top:1px solid #ffffff;
    font-size: large;
  }
  
  th {
    background-color: #f97917;
  }
  
  button {
    padding: 5px 10px;
    border: none;
    background-color: #000000;
    color: #fff;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #6898f1;
  }
  #YourPortfolio {
    color: #000000;
  }
  #balance {
    color: #000000;
    text-align: center;
    margin-top: 20px;
  }
  #table {
    color: #ffffff;
    background-color: #d76d6d;
  }
  
  #profit {
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 20px;
  }
  
  #stocks {
    margin-top: 40px;
  }